* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.custom-navbar {
  z-index: 1;
  position: sticky;
  top: 0;
}

.main-section {
  width: 100%;
  display: flex;
  height: calc(100vh - 72px); /*72px is the height of navbar*/
  overflow: hidden;
}

.main-section .sidebar {
  position: sticky;
  top: 200px;
}

.main-section .content {
  width: 100%;
  overflow-y: scroll;
}
