<header class="py-5">
  <div class="container">
    <div class="d-flex justify-content-between">
      <h1>Pagos</h1>
      <button class="btn btn btn-success" [routerLink]="['/payment/new']">
        <i class="bi bi-plus-lg"></i>
        Nuevo pago
      </button>
    </div>

    <form [formGroup]="searchForm">
      <input type="date" formControlName="from" />
      <input type="date" formControlName="to" />
    </form>
  </div>
</header>

<div class="container">
  <app-custom-table
    model="payment"
    [headers]="['Fecha', 'Servicio', 'Total']"
    [keys]="['createdAt', 'supplyName', 'total']"
    [data]="list"
    [isLoading]="isLoading"
  ></app-custom-table>
</div>
