<header class="p-5">
  <div *ngIf="!isLoading">
    <div class="d-flex justify-content-between">
      <h1>Pagos</h1>
      <button class="btn btn-primary" [routerLink]="['/payment/new']">
        <i class="bi bi-plus-lg"></i>
        Nuevo
      </button>
    </div>

    <form [formGroup]="searchForm" class="d-flex gap-3">
      <div class="form-group">
        <label for="fromDate">Desde</label>
        <input
          id="fromDate"
          class="form-control"
          type="date"
          formControlName="from"
          [value]="searchForm.get('from')?.value"
        />
      </div>

      <div class="form-group">
        <label for="toDate">Hasta</label>
        <input
          id="toDate"
          class="form-control"
          type="date"
          formControlName="to"
          [value]="searchForm.get('to')?.value"
        />
      </div>
    </form>
  </div>
</header>

<body class="px-5">
  <div
    *ngIf="!isLoading"
    class="alert alert-dismissible alert-primary d-flex justify-content-center gap-3"
  >
    <strong>Total</strong>
    <span *ngIf="list">
      {{ getTotal() | currency }}
    </span>
  </div>
  <app-custom-table
    model="payment"
    [mapTable]="tableInfo"
    [data]="list"
    [isLoading]="isLoading"
    (event)="onEvent($event)"
  ></app-custom-table>
</body>
