<header class="py-5">
  <div class="container">
    <div class="d-flex justify-content-between">
      <h1>Pagos</h1>
      <button class="btn btn btn-success" [routerLink]="['/payment/new']">
        <i class="bi bi-plus-lg"></i>
        Nuevo pago
      </button>
    </div>

    <form [formGroup]="searchForm" class="d-flex gap-3">
      <div class="form-group">
        <label for="fromDate">Desde</label>
        <input
          id="fromDate"
          class="form-control"
          type="date"
          formControlName="from"
          [value]="searchForm.get('from')?.value"
        />
      </div>

      <div class="form-group">
        <label for="toDate">Hasta</label>
        <input
          id="toDate"
          class="form-control"
          type="date"
          formControlName="to"
          [value]="searchForm.get('to')?.value"
        />
      </div>
    </form>
  </div>
</header>

<div class="container">
  <app-custom-table
    model="payment"
    [headers]="['Fecha', 'Servicio', 'Detalle', 'Monto']"
    [keys]="['createdAt', 'supplyName', 'description', 'total']"
    [data]="list"
    [isLoading]="isLoading"
  ></app-custom-table>
</div>
