<div *ngIf="!isLoading; else loader">
  <table class="table align-middle shadow">
    <thead>
      <tr>
        <th *ngFor="let header of mapTable">{{ header.label }}</th>
        <th>Accion</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of data">
        <td *ngFor="let val of mapTable" class="text-secondary">
          {{ item[val.field] }}
        </td>
        <td>
          <button class="btn btn-primary" [routerLink]="['/' + model, item.id]">
            <i class="bi bi-pencil-square"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center" *ngIf="showPagination">
    <nav>
      <ul class="pagination">
        <li class="page-item"><a class="page-link">Previous</a></li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item"><a class="page-link">Next</a></li>
      </ul>
    </nav>
  </div>
</div>

<ng-template #loader>
  <app-spinner></app-spinner>
</ng-template>
