<div
  class="d-flex flex-column flex-shrink-0 p-3 bg-dark text-white h-100 sidebar"
>
  <div>
    <div>
      <h1>PagosApp</h1>
    </div>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['home']" routerLinkActive="active">
          <i class="bi bi-house"></i>
          <span>Inicio</span>
        </a>
      </li>
      <li>
        <a
          class="nav-link"
          [routerLink]="['dashboard']"
          routerLinkActive="active"
        >
          <i class="bi bi-speedometer2"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['supply']" routerLinkActive="active">
          <i class="bi bi-list-stars"></i>
          <span>Servicios</span>
        </a>
      </li>
      <li>
        <a
          class="nav-link"
          [routerLink]="['payment']"
          routerLinkActive="active"
        >
          <i class="bi bi-cash-coin"></i>
          <span>Pagos</span>
        </a>
      </li>
    </ul>
    <hr />
  </div>
</div>
