.nav-link {
  color: white;
}

.sidebar {
  width: 280px;
}

a,
li {
  width: 100%;
  display: flex;
}
i {
  margin-right: 10px;
}

@media (max-width: 800px) {
  i {
    margin: auto;
  }
  li {
    width: auto;
  }
  .sidebar {
    width: 80px;
  }
}
