<header class="py-5">
  <div class="container">
    <h1>Pagos</h1>
  </div>
</header>

<div class="container">
  <div class="row justify-content-center" *ngIf="!isLoading; else loader">
    <div class="col-md-6 my-3 p-3 bg-body rounded shadow-sm">
      <form [formGroup]="paymentForm" (ngSubmit)="submit()">
        <div class="mb-3">
          <label for="supply" class="form-label">Supply</label>
          <select class="form-select" id="supply" formControlName="supply">
            <option *ngFor="let supply of supplies" [value]="supply.id">
              {{ supply.name }}
            </option>
          </select>
        </div>

        <div class="col-auto mb-3">
          <label class="form-label" for="total">Total</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">$</div>
            </div>
            <input
              formControlName="total"
              type="text"
              class="form-control"
              id="total"
            />
          </div>
          <app-control-error controlName="total"></app-control-error>
        </div>

        <div class="mb-3">
          <label for="total" class="form-label">Fecha</label>
          <input
            type="date"
            id="createdAt"
            class="form-control"
            formControlName="createdAt"
          />
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            [rows]="5"
            id="description"
            formControlName="description"
            class="form-control"
          ></textarea>
          <app-control-error controlName="description"></app-control-error>
        </div>

        <div class="input-group mb-3 row">
          <div class="mb-3" *ngIf="!this.paymentForm.controls['file'].value">
            <input
              (change)="handleUpload($event)"
              type="file"
              class="form-control"
              aria-label="Upload"
            />
          </div>

          <div *ngIf="this.paymentForm.controls['file'].value">
            <div>
              <button
                type="button"
                class="btn btn-primary me-2"
                (click)="downloadFile()"
              >
                <i class="bi bi-download"></i>
                Descargar Archivo
              </button>
              <button
                type="button"
                class="btn btn-outline-danger"
                (click)="removeFile()"
              >
                <i class="bi bi-trash"></i>
                Eliminar Archivo
              </button>
            </div>
          </div>
        </div>

        <div class="d-flex gap-3 flex-row-reverse">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!paymentForm.valid"
          >
            <i class="bi bi-floppy"></i>
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{{ paymentForm.value | json }}

<ng-template #loader>
  <app-spinner></app-spinner>
</ng-template>
